<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <script type="text/javascript" src="{% static 'app/js/index.js' %}"></script>
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    </head>
    <div>
        <h1>Legal assistant</h1>
        <div id="loader" class="loader">
        </div>
        <div id="content-container">
            <div id="lawSearchArea" class="search-area"/>
                <h2>Search for laws</h2>
            <input id="lawSearchInput" type="text" placeholder="Type something..." autocomplete="off">
            <select name="langs" id="langSelect">
                <option value="ro">ro</option>
                <option value="en">en</option>
            </select>
            <button id="lawSearchButton">Search</button>
            <ul id="lawResultsList" />
            </div>
            <div id="caseSearchArea" class="search-area"/>
                <h2>Search for cases</h2>
                <label>Tribunal</label>
                <input id="tribunalInput" value="CurteadeApelBUCURESTI"/>
                <label>Object</label>
                <input id="obiectInput"/>
                <button id="caseSearchButton">Search</button>
                <ul id="caseResultsList" />
            </div>
        </div>
    </body>
</html>