body {
    background-color: #FFFFFF;
    color: #2E282A;
}

button {
    background-color: #FFFFFF;
}
hr {
    color: #AB3428;
}

#content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.search-area {
    background-color: #C0D6DF;
    color: #2E282A;
}