body {
    background-color: #8093F1;
    color: #FFFFEA;
}

hr {
    color: #BF211E;
}

#content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.search-area {
    background-color: #18206F;
    color: #F5F1ED;
}